<%- include('../partials/header') %>


<div class="box">
    <h1 class="ml-3">All Posts</h1>
    <div class="row no-gutters">
        <div class="col-md-12 mb-4">
            <form class="form-inline my-2 my-lg-0 justify-content-end mr-3" action="/foodies" method="GET">
                <input id="input-size" class="form-control mr-sm-2" type="search" name="foodInfo"
                    placeholder="search name or cuisine" value="" autocomplete="off">
                <select class="custom-select custom-select-md mr-4" name="sort">
                    <option value="" selected>Sort</option>
                    <option name="date" value="createdAt">Date</option>
                    <option name="rating" value="rating">Rating</option>
                    <option name="rating" value="comments">Comments</option>
                </select>
                <button class="btn btn-outline-primary my-2 my-sm-0 mr-5" type="submit">Query</button>
            </form>

        </div>


        <% if(Object.keys(foundPosts).length != 0) { %>
            
            <% foundPosts.forEach(function(p, idx) { %>

                <div class="col-md-4 mb-4">
        
                        <a id="onePost" href="/foodies/<%= p.id %>">
            
                            <div class="card">
            
                                <img id="foodPic" src="<%= p.photo %>" class="img-fluid" alt="<%= p.caption %>">
            
                                <div class="card-body">
                                    <div class="d-flex justify-content-around">
                                        <p><i class="far fa-comment-alt fa-flip-horizontal"> </i> <%= p.comments.length %> Comments</p>
                                        <p id="stars-section" class="card-text">
                                            <% for(let i = 0; i < p.rating; i++) { %>
                                            <span class="shadow-star">★</span>
                                            <% } %>
                                        </p>
                                    </div>
                                    <% foodies.forEach(function(foodie){ %>
                                       
                                           <% if(foodie.posts.includes(p)) { %>
                                            
                                                <h5 class="card-title"><strong><%= foodie.username %>:</strong> <%= p.caption %></h5>
                                           
                                          <% } %>
                                    <% }); %> 
                                    
                                    
                                    <iframe width="400" height="100"
                                        src="https://www.google.com/maps/embed/v1/place?key=<%= process.env.API_KEY %>&q=<%= p.restaurantAddr %>"
                                        allowfullscreen></iframe>
            
                                    <p class="card-text"><small class="text-muted">Posted
                                            <%= p.createdAt.toLocaleDateString() %></small></p>
                                </div>
                            </div>
                        </a>
                    </div>

    
            <% }); %>
           

        <% } else { %>

            <% foodies.forEach(function(foodie){ %>
                <% foodie.posts.forEach(function(p, idx) { %>
                    
                        <div class="col-md-4 mb-4">
        
                                <a id="onePost" href="/foodies/<%= p.id %>">
                    
                                    <div class="card">
                    
                                        <img id="foodPic" src="<%= p.photo %>" class="img-fluid" alt="<%= p.caption %>">
                    
                                        <div class="card-body">
                                            <div class="d-flex justify-content-around">
                                                <p><i class="far fa-comment-alt fa-flip-horizontal"> </i> <%= p.comments.length %> Comments</p>
                                                <p id="stars-section" class="card-text">
                                                    <% for(let i = 0; i < p.rating; i++) { %>
                                                    <span class="shadow-star">★</span>
                                                    <% } %>
                                                </p>
                                            </div>
                                            <h5 class="card-title"><strong><%= foodie.username %>:</strong> <%= p.caption %></h5>
                                            <iframe width="400" height="100"
                                                src="https://www.google.com/maps/embed/v1/place?key=<%= process.env.API_KEY %>&q=<%= p.restaurantAddr %>"
                                                allowfullscreen></iframe>
                    
                                            <p class="card-text"><small class="text-muted">Posted
                                                    <%= p.createdAt.toLocaleDateString() %></small></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
            
                <% }); %>
                <% }); %>

        <% } %>

        
 
    </div>
</div>



<%- include('../partials/footer') %>