<%- include('../partials/header') %>



    <div class="container-fluid">
        <h1>All Posts</h1>
        <div class="row no-gutters">
            <div class="col-md-12 mb-4">
                <form class="form-inline my-2 my-lg-0 justify-content-end">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0 mr-5" type="submit">Search</button>
          
                    <select class="custom-select custom-select-md mr-5">
                        <option selected hidden>Filter</option>
                        <option value="User">User</option>
                        <option value="Category">Category</option>
                    </select>
                    <select class="custom-select custom-select-md mr-4">
                        <option selected hidden>Sort</option>
                        <option value="Date">Date</option>
                        <option value="User">User</option>
                    </select>

                </form>
            </div>
            <% foodies.forEach(function(foodie){ %>
            <% foodie.posts.forEach(function(p) { %>

            <div class="col-md-4 mb-4">

                <a id="onePost" href="/foodies/<%= p.id %>">

                    <div class="card">
                        <img id="foodPic" src="<%= p.photo %>" class="img-fluid img-thumbnail" alt="Responsive image">

                        <div class="card-body">
                            <p id="stars-section" class="card-text">
                                <% for(let i = 0; i < p.rating; i++) { %>
                                <span class="shadow-star">★</span>
                                <% } %>
                            </p>
                            <h6 class="card-title"><%= foodie.username %>: <%= p.caption %></h6>
                            <iframe width="400" height="100"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBLfL9JlGV1Lj0wkMPIIHrfvlQnQnCAAO8&q=<%= p.restaurantAddr %>"
                                allowfullscreen></iframe>

                            <p class="card-text"><small class="text-muted">Last updated
                                    <%= p.updatedAt.toLocaleDateString() %></small></p>
                        </div>
                    </div>
                </a>
            </div>


            <% }); %>
            <% }); %>
        </div>
    </div>



</body>

</html>