<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Foodie-Gram</title>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">FoodieGram</a>
        
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/foodies">All Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/foodies/new"><i class="fas fa-plus"></i> Post</a>
                    </li>
                </ul>
                <div class="btn-group">
                    <button id="button" type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <% if(user.avatar) { %>
                        <img id="userAvatar" src="<%= user.avatar %>">
                        <% } else { %>
                        <i id="identity" class="fas fa-user"></i>
                        <% } %>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/foodies/profile">My Profile</a>
                        <a class="dropdown-item" href="/foodies">All Posts</a>
                        <a class="dropdown-item" href="/foodies/new"><i class="fas fa-plus"></i> Post</a>
                        <form class="form-inline my-2 my-lg-0" method="GET" action="/logout">
                            <a class="dropdown-item"><button class="btn btn-outline-success my-2 my-sm-0"
                                    type="submit">Logout</button></a>
                        </form>
                    </div>
                </div>
            </nav>

    <div class="jumbotron">

        <h1>My Posts</h1>
        <div class="container">

            <% foodie.posts.forEach(function(p) { %>
            <div id="postBox">
                <img src="<%= p.photo %>">
                <div><%= p.caption %></div>
                <div><%= p.restaurantName %></div>
                <div><%= p.restaurantAddr %></div>
                <div><%= p.cuisine%></div>
                <div><%= p.createdAt.toLocaleString() %></div>
                <div><%= p.rating %></div>
            </div>
            <% }); %>
       
        </div>

  

    </div>

</body>

</html>